<%inherit file="../base.html"/>
<%!
from django.shortcuts import reverse
from app.model.video import IdentityType
%>
<%def name="content()">
<h1>${video.name}<label>${error}</label></h1>

<h2>集数</h2>
<table class="table">
    <thead>
    <tr>
        <th>集数</th>
        <th>地址</th>
        <th>预览</th>
    </tr>
    </thead>
    <tbody>
    % for video_sub in video.video_sub.all():
    <tr>
        <td>${video_sub.number}</td>
        <td>${video_sub.url}</td>
        <td><li><a href="${video_sub.url}">查看</a></li></td>
    </tr>
    % endfor

    </tbody>
</table>

<h2>演员</h2>
<ul>
%for video_star in video.video_star.all():
    <li>
        ${video_star.name}:${IdentityType(video_star.identity).label}
        <a href="${reverse('star_delete', kwargs={'star_id': video_star.id, 'video_id': video.id})}">删除</a>
    </li>
%endfor
</ul>
<form action="${reverse('video_sub_post',kwargs={'video_id': video.id})}" class="form-horizontal edit-area add_video_area add-url" method="get">
    <label>添加地址</label><input type="text" name="url" class="form-control">
    <input type="submit" value="添加" class="btn btn-info" id="btn-url-btn">
</form>

<form action="${reverse('video_star')}" class="form-horizontal edit-area add_video_area add-url" method="get">

    <label>演员</label><input type="text" name="name" class="form-control"><br>
        <label>身份</label>
        <select class="form-control" name="identity">
            %for i in IdentityType:
            <option value="${i.value}">${i.label}</option>
            %endfor
        </select>
    <input type="hidden" value="${video.id}" name="video_id">
    <input type="submit" value="添加" class="btn btn-info" id="btn-star-btn">
</form>
</%def>
<%def name="css()">
<link rel="stylesheet" href="/static/dashboard/css/video_sub.css">
</%def>